.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333333 no-repeat center center;
}

div#preloader span {
    color: #A20B35;
    position: absolute;
    left: 45%;
    top:  48%;
}
span.loading-text {
    display: none;
}