/*Germanna Print Style to only print main content, hide extras*/

body,
article {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

h1 {
    font-size: 1.5em;
    margin: .5em 0;
    page-break-before: avoid;
}

h1,
h2,
h3,
p {
    font-size: 85%;
    page-break-after: avoid;
}

article {
    page-break-before: avoid;
}

article a {
    font-weight: bolder;
    text-decoration: none;
}

article a[href^=http]:after {
    content: " <" attr(href) "> ";
}

article a[href^="#"]:after {
    content: "";
}

$a:after > img {
    content: "";
}

ul,
table,
img {
    page-break-inside: avoid;
}

p {
    padding-bottom: 5px;
}

.top-bar-menu,
.button,
aside.right-off-canvas-menu,
.mobile-main-menu,
.quicklinks-container,
.quicklinks-bar,
nav.tab-bar,
.right-off-canvas-toggle,
a.right-off-canvas-toggle,
.banner,
.breadcrumbs,
.subpage-hero,
.alert-box,
#sidebar,
.footer,
.footer-copyright,
button.wahout.aicon_link,
button.sz-feedback-toggle-button,
.scroll-top-wrapper,
div.quicklinks-container.contain-to-grid.show-for-medium-up > div.quicklinks-bar > div.row > div.quick-icons.small-12.large-12.columns,
.print-icons.show-for-medium-up > a {
    display: none;
}

a[href]:after {
    content: none !important;
    display: none;
}

@page {
    margin: 2cm;
    size: A4 5.5in 8.5in;

}
