.accordion.yourcustomclass {
    margin-bottom: 20px;
}
.accordion.yourcustomclass > dd > a,
.accordion.yourcustomclass > li > a {
    position: relative;

    padding: 14px 0 10px 10px;
    margin: 0 0 4px 0 !important;

    font-weight: 600;
    text-decoration: none;

    color: $secondary-color;
    border: 1px solid $secondary-color;
    background-color: $white-smoke;
}

.accordion.yourcustomclass > dd > a:before,
.accordion.yourcustomclass > li > a:before {
    position: absolute;
    top: 20%;
    right: 10px;

    font-family: FontAwesome;
    font-size: 1.4em;

    content: "\f055";
}

.accordion dd.active a {
    background: none;
}

.accordion.yourcustomclass > dd > a:hover,
.accordion.yourcustomclass > dd.active > a {
    font-weight: 800;

    color: $white;
    background-color: $secondary-color;
}

.accordion.yourcustomclass > dd.active > a {
    color: $white;
    background-color: $jumbo;
}

.accordion.yourcustomclass > dd.active > a:before {
    position: absolute;
    top: 20%;
    right: 10px;

    font-family: FontAwesome;

    content: "\f056";
}

.accordion.yourcustomclass > dd.active > .content {
    padding: 20px;

}

.accordion.yourcustomclass > dd.active > .content.active {
    padding: 20px;

    h2, h3 {
        padding-bottom: 4px;
    }

    h2 {
        font-size: 1.4em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }
    p {
        display: block;

        font-size: 1em;
    }

    a:hover {
        background-color: #CC3333;
        color: #ffffff;
    }

   ul {
    padding-left: 2px;
   }
}

.accordion.yourcustomclass > dd > .content > div.row {
    padding: 0 10px;
    margin-top: 0;
}
.accordion > dd.active > div.content.active > div.row > div.columns.large-6.small-12.medium-6 {
    padding: 0 0 0 5px;
}

div.tabs-content > div.content.active > dl.accordion > dd.active > div.content.active {
    background-color: transparent;
}

table.workshop-table > tbody > tr > td > a {

    background: none !important;
    background-color: none !important;
}

.accordion.yourcustomclass > dd.active > div.content.active > p > a.button {
    background: $primary-color;
}

.accordion.yourcustomclass > dd.active > div.content.active > p > a.button:hover {
    background: $secondary-color;
}
