.footer {
    padding: 2rem 0;

    font-size: 1.2rem;

    background-color: $primary-color;
    &.bottom-footer {
        padding: 1rem 0;

        background-color: $jet;
    }
    h3,
    h4 {
        margin: 0 0 20px 0;

        color: $white;
        &.slogan {
            display: block;
            padding: 0 0 20px 0;

            font: 800 1.8rem;
        }
    }
    h4 {
        padding: 5px 0 0 0;

        font-size: 1.2rem;
        font-weight: 800 !important;

        color: $white !important;
    }
    p {
        &.copywrite {
            padding: 0;
            margin: 0;

            font: 800 .875em $header-font-family;

            color: $white;
        }
        p a {
            color: $secondary-color;
        }
    }
    .links {
        padding: 0;
        margin: 0 0 20px 0;

        list-style: none;

        background-color: $primary-color;
    }
    .links li {
        padding: 0 10px 0 0;
        margin: 0;
    }
    .links li a {
        padding: 0;
        margin: 0;

        font: 800 .8em $header-font-family;
        list-style: none;

        transition: all .2s ease-in-out;
        text-align: left;

        color: $white;
        &:hover {
            text-decoration: underline;

            color: $mustard;
        }
    }
}

footer.footer > div#FooterImportantLinks.row div.textwidget {
    padding: 5px 0 20px 0;

    font-size: 1.2rem;
    font-weight: 800;

    color: $white;
    background: $primary-color;
}

.footer h3 {
    margin-bottom: 20px;
}

.footer-copyright {
    position: relative;

    padding-top: 12px;

    background-color: $tuatara;
}

.footer-copyright p {
    display: block;
    width: 100%;

    font-size: .8em;

    color: $white;
}

.footer-copyright p a {
    font-weight: 800;

    color: $white;
}

.footer-copyright p a:hover {
    text-decoration: underline;
}

.social-icons {
    padding: 0;
    margin: 40px 0 20px 0;
    overflow: auto;
}

.social-icons li {
    float: left;

    list-style-type: none;
}

.social-icons li a span {
    width: 40px;
    height: 40px;
    padding-top: 15%;
    margin-right: 10px;

    font-size: 25px;

    transition: all .2s ease-in-out;
    text-align: center;

    color: $primary-color;
    border-radius: 20px;
    background: $white;
}

//footer social icons
.social-icons {
    padding: 0;
    margin: 0 0 20px 0;
    overflow: auto;
}

.social-icons li {
    float: left;

    list-style-type: none;
}

.social-icons li a span {
    width: 40px;
    height: 40px;
    padding-top: 15%;
    margin-right: 10px;

    font-size: 25px;

    transition: all .2s ease-in-out;
    text-align: center;

    color: $primary-color;
    border-radius: 20px;
    background: $white;
}

.social-icons li a span:hover {
    background: $mustard;
}

.fa-facebook {
    background: #3b5998;
}

.fa-linkedin {
    background: #007bb6;
}

.fa-twitter {
    background: #00aced;
}

.google-plus {
    background: #dd4b39;
}

social-icons li a span:hover {
    opacity: .7;
}

.logos {
    float: left;
    padding: 0;
    margin: 20px 0 0 0;

    background-color: $primary-color;

    li {
        padding: 0;
        margin: 0;
    }

    a {
        color: #fff;
    }
}

.footer-logos {
    display: block;
    padding: 0;
    margin: 0;

    text-align: left;
    text-indent: -9999px;
}

a.tips {
    width: 132px;
    height: 52px;

    transition: all .2s ease-in-out;

    background: url(../assets/img/tipslogo.png) no-repeat center center;
}

a.tips:hover {
    background: url(../assets/img/tipslogo-hover.png) no-repeat center center;
}
