.footer {
    padding: 40px 0 20px 0;
    text-align: center;
    background-color: $primary-color !important;
    &.bottom-footer {
        padding: 20px 0;
        background-color: $secondary-color;
    }
    h3.tagline {
        line-height: 32px;
        font-size: 1.2em !important;
        text-transform: none;
    }
    h3,
    h4 {
        margin: 0 0 20px 0;
        color: $white !important;
        font: 800 1.2em !important;
        &.slogan {
            display: block;
            padding: 0 0 20px 0;
        }
    }
    h4 {
        padding: 0;
        font: 800 1em !important;
    }
    .contact-number {
        margin-top: 20px;
    }
    p {
        &.copywrite {
            padding: 0;
            margin: 0;

            font: 800 .875em $header-font-family;

            color: $white;
        }
        p a {
            color: $secondary-color;
        }
    }
    .links {
        padding: 0;
        margin: 0;

        list-style: none;

        background-color: $primary-color;
        
        li {
            padding: 0 10px 0 0;
            margin: 0;
            a {
                padding: 0;
                margin: 0;

                font: 400 .8em $header-font-family;
                list-style: none;
                letter-spacing: .8px;
                text-align: left;

                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

        .footer-extra-links {
        padding: 0;
        margin: 0 auto 20px auto;

        list-style: none;

        background-color: $primary-color;
        
        li {
            padding: 0 10px 0 0;

            a {
                padding: 0;

                font: 400 .8em $header-font-family;
                list-style: none;
                letter-spacing: .8px;
                text-align: center;
                text-decoration: none;
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .textwidget {
    padding: 5px 0 20px 0;

    font-size: 1.2rem;
    font-weight: 800;

    color: $white;
    background: $primary-color;
}
}

.footer h3 {
    margin-bottom: 20px;
}

.footer-copyright {
    position: relative;

    padding-top: 12px;

    background-color: $tuatara;
   
    p {
    display: block;
    width: 100%;

    font-size: .8em;

    color: $white;

     a {
    font-weight: 800;

    color: $white;
}


 a:hover {
    text-decoration: underline;
}

}

}

.social-icons {
    padding: 0;
    margin: 10px auto;
    overflow: auto;

 li {
    display: inline-block;

    list-style-type: none;
   
    a span {
    width: 32px;
    height: 32px;
    padding-top: 12%;
    margin-right: 4px;

    font-size: 25px;

    transition: all .1s ease-in-out;
    text-align: center;

    color: $primary-color;
    border-radius: 20px;
    background: $white;
}

 a span:hover {
    background: $secondary-color !important;
}

}

}

.logos {
    
    margin: 20px auto 0 auto;
    display: inline-block;


    background-color: $primary-color;

}

.footer-logos {
    display: block;
    padding: 0;
    margin: 0;

    text-indent: -9999px;
}
a.tips {
    width: 132px;

    height: 52px;

    transition: all .2s ease-in-out;

    background: url(../assets/img/tipslogo.png) no-repeat center center;
}