/*
 Global styles for FoundationGermanna
*/

// Prettify type rendering
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-bottom: 120px;
}

section > div.row > div.small-12.medium-8.medium-push-4.large-8.columns.large-push-4 > article {
    padding-bottom: 150px;
}
// Reset margin and padding on figure element
figure {
    margin: 0;
    padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
    margin-bottom: rem-calc(20);
    margin-top: rem-calc(10);
    color: #6f6f6f;
}

.featured-image {
    width: 120%;
    height: auto;
    margin-bottom: 80px;
}

.breadcrumbs {
    background: $ghost;
}

// Add the alignment classes used by the WordPress media library
.alignleft,
.alignright {
    float: left;
}

article ul {
    padding: 0 0 0 10px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
    margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
    margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

.pricing-table.mobile-hide {
    display: none
}

blockquote.alignright,
img.alignright {
    margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

p > a.button > i {
    padding: 8px 16px 4px 0;
    font-size: 1.2em;
}

//Skip to top button
#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}
h2 {
    text-transform: none !important;
}
#skip a:focus {
    position: static;
    width: auto;
    height: auto
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: $primary-color;
    color: $smoke;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: $secondary-color;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}
