/*
 Global styles for FoundationGermanna
*/
body {
    padding: 0;
    padding-bottom: 40px;

    -webkit-font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased;

    background-color: $white;

    text-rendering: optimizeLegibility;

     height: 100%;
}

div.small-12.medium-8.medium-push-4.large-8.columns.large-push-4 > article {
    padding-bottom: 40px;
}
.row {
    width: 100% !important;
    max-width: 100% !important;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
figure {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 165% !important;
}

h2 {
    font-size: 145% !important;
}

h3 {
    font-size: 135% !important;
}

h4 {
    font-size: 115% !important;
}

h5 {
    font-size: 105% !important;
}

h6 {
    font-size: 100% !important;
}

// Add some basic styling for figcaption element
figcaption {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(20);

    color: #6f6f6f;
}

.featured-image {
    width: 120%;
    height: auto;
    margin-bottom: 80px;
}

.breadcrumbs {
    background: $ghost;
}
.entry-content {
    padding: 0 4px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.entry-content > div.row  {
    width: 99%;
    margin: 0 auto;
}
.entry-content > div.row > div.columns.large-6.small-12.medium-6  {
    padding: 2px 4px;

}
.entry-content a {
    text-decoration: underline;
    color: #CC3333;
}

.entry-content a:hover {
    color: #ffffff;
    background-color: #CC3333;
    
}
.entry-content .button {
     color: #ffffff;
     text-decoration: none;
}
.entry-content a:hover.button {
    background: #82082A;
}
.center-block {
    display: block;
    width: 100%;
}

/* Add the alignment classes used by the WordPress media library */

.alignleft,
.alignright {
    float: left;
}

article ul {
    padding: 0 0 0 10px;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.visually-hidden {
    display: none;
}
blockquote.alignleft,
img.alignleft {
    margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
    margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

.pricing-table.mobile-hide {
    display: none;
}

blockquote.alignright,
img.alignright {
    margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}
.no-margin-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}
p > a.button > span {
    padding: 8px 16px 4px 0;

    font-size: 1.2em;
}

.pricing-table {
    list-style: none;

    text-align: center;
}

.pricing-table li.title,
.pricing-table li.bullet-item {
    border-bottom: 1px solid #ccc;
}

.pricing-table li.title {
    padding: 10px 0;

    color: #fff;
}

.pricing-table li.bullet-item {
    padding: 10px 0;
}

.fancy {
    line-height: .5;

    text-align: center;
}

.fancy span {
    position: relative;

    display: inline-block;
}

.fancy span:before,
.fancy span:after {
    position: absolute;
    top: 10px;

    width: 280px;

    content: "";

    border: 1px solid rgba(0, 0, 0, .4);
}

.fancy span:before {
    right: 100%;

    margin-right: 15px;
}

.fancy span:after {
    left: 100%;

    margin-left: 15px;
}

/*Skip to top button*/
#skip a {
    position: absolute;
    top: auto;
    left: -10000px;

    width: 1px;
    height: 1px;
    overflow: hidden;
}

h2 {
    text-transform: none !important;
}

#skip a:focus {
    position: static;

    width: auto;
    height: auto;
}
/*Accessibility Icon*/
.accessability_container button.aicon_link {
    background-color: $primary-color !important;
    color: #000000 !important;
} 

/*Back to top styling*/

.scroll-top-wrapper {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99999999;

    visibility: hidden;
    width: 100%;
    width: 32px;
    height: 32px;
    max-width: 1250px;
    overflow: hidden;

    line-height: 32px;

    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    text-align: center;

    opacity: 0;
    color: $smoke;
    border-radius: 100%;
    background-color: $primary-color;
}

.scroll-top-wrapper:hover {
    background-color: $secondary-color;
}

.scroll-top-wrapper.show {
    visibility: visible;

    cursor: pointer;

    opacity: 1.0;
}

.scroll-top-wrapper span.fa {
    line-height: inherit;
}

/*No Javascript Alert*/
.jsalert {
    position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          text-align: center;
          font-size:  3em;
          background-color: #f5f5f5;
          color: #333333;
          z-index: 10000;
          padding: 100px;
}
