div.off-canvas-wrap > div.inner-wrap > nav.tab-bar > div.right-small {
background: none;
margin: 0;
padding: 0;
}

.right-off-canvas-toggle {
background: none;
background: $white;
.open {
color: $primary-color;
font-size: 1.6em;
clear: both;
display: block;
float: right;
padding: 0;
margin: 0 10px 0 0;
}
.close {
color: #ffffff;
font-size: 1.6em;
clear: both;
display: block;
float: right;
padding: 0;
margin: 0 10px 0 0;
background: $primary-color;
}
}
.right-off-canvas-menu {
padding: 0;
background: $primary-color;
}
.mobile-callto-container,
.mobile-quicklinks-menu,
.mobile-mini-menu,
.mobile-main-menu {
display: block;
margin: 0;
padding: 0;
clear: both;
position: relative;
h2,
p {
color: $white;
padding: 0 20px;
margin: 0;
}
p {
margin: 0 0 20px 0;
}
}

.mobile-callto {
padding: 0;
margin: 0;
li {
text-align: center;
padding: 0;
margin: 0;
list-style: none;
a {
padding: 0 20px;
color: $white;
margin: 0;
display: block;
font: 100 1em $header-font-family;
}
}
}

.mobile-main-menu {
margin: 0;
ul {
li {
a {
color: $white;
display: block;
padding: 10px 20px;
border-top: 1px solid $white;
}
}
}
}

.mobile-quicklinks-menu {
padding: 10px;
h2 {
font: 100 1em $header-font-family;
color: $white;
padding-bottom: 10px;
}
ul {
li {
a {
color: $white;
display: block;
padding: 10px 20px;
border-top: 1px solid $white;
}
}
}
}

.mobile-mini-menu {
ul {
li {
a {
color: $white;
display: block;
padding: 10px 20px;
border-top: 1px solid $white;
}
}
}
}

aside.right-off-canvas-menu > div.mobile-search > form#searchform  > button#searchsubmit.prefix.search-icon > span.fa.fa-search.fa-1x {
color: $white;
font-size: 2em;
padding: 4px 0;
}

aside.right-off-canvas-menu > div.mobile-search > form#searchform > div.row.collapse > div.small-2.columns.text-right > button#searchsubmit:hover {
background: none;
}