div.off-canvas-wrap > div.inner-wrap > nav.tab-bar > div.right-small {
background: none;
margin: 0;
padding: 0;
}

.right-off-canvas-toggle {
background: none;
background: $white;
 span.fa.fa-align-right {
color: $primary-color;
font-size: 2em;
clear: both;
display: block;
float: right;
padding: 0;
margin: 4px 10px 0 0;
}
span.fa.fa-times {
color: #ffffff;
font-size: 2em;
clear: both;
display: block;
float: right;
padding: 0;
margin: 0 10px 0 0;
background: $primary-color;
}
}


.right-off-canvas-menu {
padding: 0;
background: $primary-color;
}
.mobile-callto-container,
.mobile-quicklinks-menu,
.mobile-mini-menu,
.mobile-main-menu {
display: block;
margin: 0;
padding: 0;
clear: both;
position: relative;
h2,
p {
color: $white;
padding: 0 20px;
margin: 0;
}
p {
margin: 0 0 20px 0;
}
}

.mobile-callto {
padding: 0;
margin: 0;
text-align: center;
font: 100 1em $header-font-family;
color: $white;

li {

padding: 0;
margin: 0;
list-style: none;
a {
padding: 0 20px;
margin: 0;
display: block;
}
}
}
.mobile-main-menu {
margin: 0;
text-align: center;
ul {
li {
a {
color: $white;
display: block;
padding: 10px 20px;
border-top: 1px solid $white;
}
}
}
}