#sidebar {
    margin-bottom: 40px;
    h3 {
        padding: 10px;
        margin: 1px;

        font-size: 1em;
        font-weight: 800;

        color: $white;
        background: $jet;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    }
    ul {
        padding: 0;

        li {
            padding: 0;
        }
        li a {
            display: block;
            padding: 10px 0 10px 10px;
            margin-bottom: 1px;
            font-weight: 800;

            color: #333;
            background: $smoke;
        }
        li a:hover {
            color: $jet;
            background: $ghost;
        }
        li a.active {
            color: $jet;
            background: $ghost;
        }
    }
}

#sidebar ul li.menu-item.active a {
    color: $jet;
    background: $ghost;
}

ul.main-off-canvas-list {
    li {
        a {
            display: block;
            width: 100%;
        }
    }
}
.sidebar-video {
    width: 100%;
    padding: 0 20px 20px 20px;
}

blockquote.twitter-tweet {
    display: inline-block;
    max-width: 468px;
    padding: 16px;
    margin: 10px 0;

    font: bold 14px/18px Helvetica, Arial, sans-serif;

    color: #000;
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

blockquote.twitter-tweet p {
    margin: 0 5px 10px 0;

    font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
    font-size: 12px;
    font-weight: normal;

    color: #666;
}

.textwidget {
    padding: 0;
    margin: 0;

    background: $smoke;
    p {
        font-size: .75em;
    }
}

.widget.widget_text {
    padding: 0 10px;
    margin: 0;
}

article.row.widget.widget_text {
    padding: 20px;
    margin-bottom: 20px;

    background: $smoke;
}

.widget.rpwe_widget.recent-posts-extended {
    padding: 0 10px;
}

.widget ul {
    padding-left: 0;
    margin-left: 0;

    list-style: none;
}

.widget_text > div.textwidget > p > a {
    font-weight: 600;

    color: #0072aa;
}

.widget_text > div.textwidget > p > a:hover {
    font-weight: 600;

    color: $primary-color;
}


article#archives-5.row.widget {
    padding: 10px;
}

article#archives-5.row.widget.widget_archive {
    padding: 10px;
    margin-bottom: 20px;
}

article#archives-5.row.widget.widget_archive > select#archives-dropdown-5 > option {
    padding: 10px;

    font-weight: 800;
}
#archives-dropdown-5 {
    display: block;
    padding: 10px;

    color: #fff;
    background-color: $primary-color;
}

#archives-5 > label {
    display: none;
}

aside#sidebar > .sidebar-icons {
    margin: 10px 0;
}

aside#sidebar > .sidebar-icons > ul.intro-icons {
    padding: 0;
    margin: 0;

    background: $white;
    li {
        max-width: 70px;
        padding: 0;
        margin-right: 0;
        margin-left: 0;
        a {
            width: 70px;
            height: 70px;
            padding-top: 20%;
            margin-right: 20px;

            font-size: 25px;

            transition: all .2s ease-in-out;
            text-align: center;

            color: $base;
            border-radius: 70px;
            background: $white;
        }
    }
}

.wf-home-sidebar {
    padding: 0 !important;
    margin: 0 !important;

    h3 {
        padding: 10px;
        margin-bottom: 0;

        font-size: 1em;
        font-weight: 800;

        color: $white;
        background: $jet;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    }

    ul.wf-home-menu {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
        }
        li a {
            display: block;
            padding: 10px 0 10px 20px;
            margin-bottom: 1px;

            font-size: .9em !important;
            font-weight: bold;

            color: #333;
            background: $smoke;
        }
        li a:hover {
            color: $jet;
            background: $ghost;
        }
        li a.active {
            color: $jet;
            background: $ghost;
        }
    }
}

.sidebar-container,
.sociabar-social-icons,
.sidebar-newsletter {
    margin-bottom: 10px;
}

.intro-icons {
    width: 100%;
    padding: 20px  0;
    margin: 0 auto 10px auto;
    overflow: auto;
}

.intro-icons li {
    float: left;

    list-style-type: none;
}

.intro-icons li a span {
    margin-right: 14px;

    font-size: 32px;

    transition: all .2s ease-in-out;
    text-align: center;

    color: $primary-color;
}

.intro-icons li a span:hover {
    color: $secondary-color;
}

.sidebar-newsletter > div.textwidget {
    background: #fff;
}


.sidebar-newsletter > div.textwidget > form > label {
    font-weight: 800;
}

.sidebar-newsletter > div.textwidget > form > p > input.submit.button {
    width: 100%;

    text-align: center;
}
