.subpage-hero {
    position: relative;

    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    padding: 0;
    margin: 0 0 40px 0;

    text-align: left;
}

.without-image {
    position: relative;

    display: block;
    padding: 10px;

    text-align: left;

    background: $white;
}

h1 {
    display: block;
    padding: 0;
    margin: 20px 0 10px 0;

    font-size: 3em;

    text-align: left;

    color: $oil;
}

.print-icons {
    position: absolute;
    top: 0;
    right: 0;

    padding: 40px 0 20px 0;

    text-align: right;
    &i {
        display: block;
        margin-bottom: 0;
    }
    a {
        display: inline-block;
        width: 72px;
        height: 72px;
        padding: 18px 18px 18px 18px;
        margin: 0 0 10px 10px;

        transition: all .2s ease-in-out;
        text-align: center;

        color: $white;
        border-radius: 100%;
        background: $primary-color;
    }
    a:hover {
        color: $white;
        background: $secondary-color;
    }
    span {
        padding: 0;
        margin: 0;

        font-size: .7em;
        font-weight: 100;
        line-height: 10px;
    }
}

#bg img {
    height: auto;
    max-height: 400px;

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.programs-highlights {
    background: $jet;
}

.header.panel {
    margin: 3rem auto;

    border: 2px solid #444;
    background: #fff;
    &p {
        padding: 6px;
        margin-top: -1.25rem;
        &span {
            font-size: 75%;
            font-weight: bold;

            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
    ul {
        padding: 0 0 0 10px;

        list-style: none;

        text-align: center;
        &li {
            list-style: none;
            &a {
                padding: 10px 0;
                padding: 1rem 2rem 2rem 2rem;
                margin-top: -1.25rem;

                font: 1rem "Avenir Next";
            }
        }
    }
    .sign {
        position: relative;
        top: -2.5rem;

        width: 150px;
        height: 2.4rem;
        margin: auto;

        border: 2px solid $primary-color;
        background: $primary-color;
        &h5 {
            font-size: 70%;
            line-height: 2rem;

            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;

            color: $white;
        }
    }
}

.nursing-panels {
    padding: 20px 0 80px 0;
    &h2 {
        margin-bottom: 60px;
    }
    li {
        background: $gainsboro;
        &a {
            font-weight: bold;
        }
    }
    .title {
        font-size: 1em;
        font-weight: 800;

        background: $primary-color;
    }
}

.accordion.yourcustomclass > dd.active > p > a.button {
    background: $primary-color;
}

.sub-nav {
    width: 100%;
    padding: 0;
    margin: 0 0 40px 0;

    border-top: 1px solid $base;
    border-bottom: 1px solid $base;
    background: $white;
    &li {
        &a {
            padding: 10px 10px 10px 0;

            font: 800 1em $header-font-family;

            color: $base;
        }
        a:hover {
            color: $jet;
        }
    }
}
