dl.tabs > dd > a,
dl.tabs > dd.active > a {
    margin: 0 0 2px 0;
    font-weight: 800;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    text-decoration: none;
}

dl.tabs > dd.active > a {
    background-color: $tuatara;
}

div.tabs-content > .content.active {
    background: $ghost;
    padding: 20px;
    border-top: 5px solid $tuatara;
}
