/* Header */

.banner {
    padding: 40px 0;
    margin: 0;
    background: $white;
    height: auto;
    max-height: 260px;
    position: relative;
    border: none;
}

.logo {
    display: block;
    text-indent: -99999px;
    margin: 0;
    padding: 0;
    background: url(../assets/img/germanna_cc_logo_mobile.png) no-repeat;
    height: 50px;
    width: 264px;
}

.tagline {
    color: $primary-color;
    font: 800 1em "Century Gothic", Calibri, sans-serif;
    padding: 0;
    line-height: 12px;
    text-transform: uppercase;
}

.sub-tagline {
    padding: 0 0 10px 0;
    margin: 10px 0;
    background-color: $white !important;
}

.sub-tagline span {
    color: $tuatara;
    font: 600 1em "Century Gothic", Calibri, sans-serif;
}


/*Top quicklinks nav*/

.sub-menu {
    width: 520px !important;
    background-color: #fafafa !important;
    padding: 20px 10px !important;
    position: relative;
}



/*Request Info Button*/

a.callto {
    display: inline-block;
    margin: 0 0 0 12px;
    padding: 10px 10px 10px 10px !important;
    font-weight: 600 !important;
    font-size: .9em !important;
    position: relative;
}

a.button.default.round.tiny.callto {
    -webkit-box-shadow: 8px 41px 32px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 41px 32px -28px rgba(0, 0, 0, 1);
    box-shadow: 8px 41px 32px -28px rgba(0, 0, 0, 1);
}

a.callto span.icon {
    display: inline-block;
    line-height: 0px;
    margin: 0 4px 0 0 !important;
}

a.callto span.text {
    padding: 0 0 0 0 !important;
    margin: 0 !important;
    display: inline-block;
    line-height: 0;
}

.mobile-request-button {
    margin: 20px auto 0 auto;
    width: 100% !important;
}

.mobile-request-button span.icon {
    margin-right: 10px;
}



/*Main Navigation*/

.top-bar-container {
    margin: 0;
    padding: 0 10px;
    background: $primary-color;
}

nav.top-bar>div.top-bar-section>ul.top-bar-menu.left>li {

    a {
        font-size: .7em;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.top-bar-section .dropdown li.parent-link a,
.top-bar-section .dropdown li.title h5 a,
.top-bar-section.quicklinks-bar .dropdown li.parent-link a,
.top-bar-section.quicklinks-bar .dropdown li.title h5 a {
    display: none;
    /*hides back button in dropdown menu*/
}

ul#menu-main-menu.top-bar-menu.left {
    background: $primary-color;
    width: 100%;
}

.top-bar .name {
    color: $primary-color;
    float: left;
}



/*Main Navigation Dropdown Menu*/

ul.sub-menu {
    z-index: 1000 !important
}

ul.sub-menu.dropdown {
    background-color: rgba(250, 250, 250, .6);
    z-index: 1000 !important;
    overflow: visible !important;
    position: absolute;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, .8);
}

.top-bar-section .dropdown li {
    background: $ghost !important;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button),
ul.sub-menu.dropdown>li>a,
.top-bar-section.quicklinks-bar .dropdown li:not(.has-form):not(.active)>a:not(.button) {
    height: 34px;
    padding: 0 14px !important;
    line-height: 34px;
    font-size: .85em !important;
    text-transform: none;
    color: $tuatara;
    font-weight: 800;
    background: $ghost;
}

.top-bar-section.quicklinks-bar>ul>li>ul.sub-menu.dropdown>li>a {
    height: 34px;
    padding: 0 14px !important;
    line-height: 34px;
    font-size: .85em !important;
    text-transform: none;
    color: $tuatara !important;
    font-weight: 800;
    background: $ghost !important;
}

ul.sub-menu.dropdown>li a:hover {
    text-decoration: underline;
    color: $primary-color !important;
}

ul#menu-main-menu.top-bar-menu.left>li.menu-columns.menu-columns-left>ul.sub-menu.dropdown {
    margin-left: -280px;
    /*Positions the dropdown menu*/
}



/*Converts dropdown menu into 2 seperate columns with just css*/

.menu-columns ul.sub-menu.dropdown>li {
    color: $tuatara;
    width: 100% !important;
    width: 26%;
    max-width: 250px !important;
    /*Adjust width of columnes*/
    padding-left: 10px;
    position: relative;
    /*Keeps icons left of links*/
}



/*Position the menu columns*/

.menu-columns ul.sub-menu li:nth-child(odd)+li:before {
    float: left;
}

.menu-columns ul.sub-menu li:nth-child(even)+li:before {
    float: right;
}



/*Fix different color issue when hovering over icon*/

.menu-columns ul.sub-menu li:nth-child(odd)+li:hover a {
    color: $primary-color !important;
}

.menu-columns ul.sub-menu li:nth-child(even)+li:hover a {
    color: $primary-color !important;
}

ul.sub-menu li:before {
    font-family: FontAwesome;
    content: "\f18e";
    position: absolute;
    color: $tuatara !important;
    top: 4px;
    left: 4px;
}

ul.sub-menu.dropdown>li:hover {
    color: $tuatara !important;
}

#menu-mini-menu {
    list-style: none;
    li {
        display: inline-block;
        width: auto;
    }
    a {
        text-decoration: none;
        color: $jet;
        padding: 0 0 0 4px;
        width: auto;
        font-size: 10px;
    }
    a:hover {
        color: $primary-color;
    }
}

.main-menu {
    margin-top: 0;
    padding: 0 0 0 10px;
}

button#searchsubmit.prefix.search-icon {
    background: $primary-color;
    border: none;
    padding: 0;
    margin: 0;
}

button#searchsubmit.prefix.search-icon span {
    color: $ghost;
    font-size: 1.4em;
}

button#searchsubmit.prefix.search-icon:hover span {
    color: $secondary-color;
    background: none;
    transition: all 0.3s ease-in;
}

form#searchform {
    height: 42px !important;
}

form#searchform>div.row.collapse {
    height: 42px !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

form#searchform>div.row.collapse>input#search {
    margin: 0;
    background: rgba(255, 255, 255, .8);
    border: none;
    color: $jet;
}

#searchsubmit:hover {
    background: $white;
    background-color: $white;
    transition: all 0.5s ease-in;
}

.quicklinks-container {
    background: $jet;
    border-top: 5px solid $primary-color;
    height: 42px !important;
    padding: 0;
    position: relative;
    margin: 0;
    max-height: 42px;
}

.top-bar-section.quicklinks-bar {
    padding: 0;
    margin: 0;
}

.top-bar-section.quicklinks-bar ul {
    list-style: none;
    text-align: left;
    width: auto;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 36px !important;

        a {
            color: #8e8e8e !important;
            font-weight: 400;
            transition: all 0.2s ease-in;
            font-size: .7px;
            font-weight: 600;
            display: inline-block;
            padding: 11px 10px !important;
            margin: 0;
            background: #23282d !important;
            line-height: 14px !important;
        }
        a:hover {
            color: $white !important;
            background: $primary-color !important;
        }
    }
    .divider {
        border-right: solid 1px rgba(0, 0, 0, .6) !important;
    }
    li.menu-callouts {
        background: rgba(255, 255, 255, .2) !important;
        transition: all 0.2s ease-in;
        a {
            color: $white !important;
        }
    }
    li:hover.menu-callouts {
        a {
            background: rgba(162, 11, 53, 1.0);
        }
    }
}

ul.sub-menu.dropdown>li.title.back.js-generated {
    display: none;
}

.quick-icons {
    float: right;
    padding: 10px 0 0 0;
    margin: 0;
    a {
        color: $primary-color;
    }
    a:hover {
        color: $secondary-color;
    }
    span {
        padding: 0;
        display: block;
        text-indent: -999999px;
    }
}

.offcanvas-calltos {
    margin: 40px 0;
}

.button-group li a {
    color: $white;
    margin: 0 10px 0 0;
}

.mobile-quicklinks {}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: $jet;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
    background: $jet;
}

form#searchform>label#search-icon-text {
    display: none !important;
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.
@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {}